* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(234, 234, 234);
  }
  
  body {
    padding: 60px;
  }
  
  input {
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 100%;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  /* Estilo para el título de la categoría */
.category-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Estilo para el texto de carga */
.loading-text {
  font-size: 18px;
  text-align: center;
  color: #555;
}

/* Contenedor de las tarjetas */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Contenedor principal de la tarjeta */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Contenedor de la imagen */
.card-image img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Contenido de la tarjeta */
.card-content {
  padding: 10px;
  text-align: center;
}

/* Título de la tarjeta */
.card-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0;
  word-wrap: break-word;

}


